h1 {
    color: #39FF14;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 3cm;
    text-align: center;
}

h2 {
    color: rgb(12, 12, 12);
    font-family: 'Chakra Petch', sans-serif;
    font-size: 400%;
    text-align: left;
    margin-left: 1cm;
}

.heading {
    clear:both
}

.graphbox {
    clear:both;
    width: 100%;
    height: 650px;
}

.mapbox {
    clear:both;
    width: 100%;
    height: 650px;
}

.map {
    clear:both;
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.graphboxsmall {
    clear:both;
    width: 100%;
    height: 450px;
}

.graph {
    height: 600px;
    width: 58%;
    float: left;
    margin: 1cm;
}

.text {
    margin: 1cm;
    color: rgb(12, 12, 12);
    font-family: 'Chakra Petch', sans-serif;
    font-size: 250%;
    text-align: left;
}

.text2 {
    margin: 1cm;
    color: #39FF14;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 250%;
    text-align: left;
}

.graph2 {
    height: 1000px;
    width: 30%;
    float: left;
    margin: 1cm;
    text-align: center;
    border: 8px;
    border-color: #050505;
    border-style: solid;
    margin-top: 2cm;
}

.img {
    height: 100px;
    width: 10%;
    float: left;
}

.smallgraph {
    height: 400px;
    width: 25%;
    float: left;
}

button {
    background-color: #151515;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Verdana;
    margin-left: 3cm;
    border-radius: 5%;
}

select {
    margin-left: 2cm;
    font-family: Verdana;
    font-size: 150%;
    font-variant-caps: all-small-caps;
    background-color: #151515 !important;
    color: aliceblue;
    text-align: center;
    border-radius: 5%;
}

option {
    font-family: Verdana;
    font-variant-caps: all-petite-caps;
}

#map {
    height: 700px;
    width: 80%;
    margin-left: 10%;
}

.fullheader {
    height: 7cm;
    width: 100%;
    text-align: center;
}

.header {
    width: 70%;
    float: left;
    height: 7cm
}

.logoparent {
    width: 15%;
    float: left;
    height: 5cm
}

.logochild1 {
    width: 80%;
    position: relative;
    animation-name: logoflip;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.logochild2 {
    width: 80%;
    position: relative;
    animation-name: logoflip2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes logoflip {
    0%   {left:0px; top:0px;}
    25%  {left:50%; top:0px;}
    50%  {left:50%; top:50%;}
    75%  {left:0px; top:50%;}
    100% {left:0px; top:0px;}
  }

@keyframes logoflip2 {
0%   {left:50%; top:0px;}
25%  {left:0px; top:0px;}
50%  {left:0px; top:50%;}
75%  {left:50%; top:50%;}
100% {left:50%; top:0px;}
}